<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/test.css">
</head>
<body>
<h5> Hello {{name}}, {{surname}}</h5>
<div id = "res"></div>
<input value={{name}} id="name" type="hidden">
<input value={{surname}} id="surname" type="hidden">
<div id = 'question'></div>
<div style="width: 100%; text-align:center" id="btn_div">
    <button type="button" class="btn btn-primary button_save" id="save">Save</button>
</div>
</body>
<script src="js/main.js"></script>
</html>